<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %} {{ site.name }}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CDN Imports (CSS & JS) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"></script>
  
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
  
    <!-- Custom JS -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>